@model List<WCF.BussinessObject.EntityObject.DoctorObject>
@{
    ViewBag.Title = "DoctorAdminView";
    Layout = "~/Areas/admin/Views/Shared/LayOut.cshtml";
    WCF.BussinessObject.EntityObject.DoctorObject dt = new WCF.BussinessObject.EntityObject.DoctorObject();
}

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Quản Trị Bác Sĩ</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
                <div class="col-sm-6">
                    <div class="dataTables_length" id="example1_length">
                        @Html.ActionLink("Thêm Mới","AdddtView","AddDoctor",null,new { @class="btn btn-info"})
                    </div>
                </div>

                <div class="col-sm-6">
                </div>
            </div><div class="row">
                <div class="col-sm-12">
                    <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info" style="width:100%;height:80%">
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 177px;">@Html.DisplayNameFor(m=>m.SingleOrDefault().Images)</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 224px;">@Html.DisplayNameFor(m =>m.SingleOrDefault().Name)</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 205px;">@Html.DisplayNameFor(m=>m.SingleOrDefault().MedicalName)</th>
                                <th tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 110px;">Thao Tác</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            WCF.BussinessObject.EntityObject.MedicalObject mdo = new WCF.BussinessController.BCL.MedicalBCL().Medical_GetById(item.IDKhoa);

                            <tbody>
                                <tr role="row" class="odd">
                                    <td class="sorting_1"><img src="@item.Images" style="width:150px; height:100px"></td>
                                    <td>@item.Name</td>
                                    <td>P. @mdo.Name</td>
                                    <td>
                                        @Html.ActionLink("Sửa", "RedirecToDoctorEditView", "Doctor", new { id = item.ID }, new { @class = "btn btn-info" })
                                        @Html.ActionLink("Xóa", "DeleteDoctor_clk", "Doctor", new { ID = item.ID }, new { @class = "btn btn-warning" })
                                    </td>
                                </tr>
                            </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.box-body -->
</div>