@model WCF.BussinessObject.EntityObject.DoctorObject
@{
    ViewBag.Title = "EditDoctor";
    Layout = "~/Areas/admin/Views/Shared/LayOut.cshtml";
    WCF.BussinessObject.EntityObject.MedicalObject md = new WCF.BussinessController.BCL.MedicalBCL().Medical_GetById(Model.IDKhoa);
}

@using (Html.BeginForm("EditDoctorDone", "Doctor", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Sửa Thông Tin Bác Sĩ</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                <div class="row">
                    <div class="col-sm-12">
                    </div>
                </div><div class="row">
                    <div class="col-sm-12">
                        <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info" style="width:100%;height:80%">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 177px;">@Html.DisplayNameFor(m=>m.Images)</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 224px;">@Html.DisplayNameFor(m => m.Name)</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 205px;">@Html.DisplayNameFor(m => m.MedicalName)</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 205px;">Thao Tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr role="row" class="odd">
                                    @Html.HiddenFor(m => m.ID)
                                    @Html.HiddenFor(m => m.MedicalName)
                                    @Html.HiddenFor(m => m.Images)
                                    @Html.HiddenFor(m => m.Status)
                                    <td class="sorting_1">
                                        <input type="file" name="Images" />
                                        <img src="@Model.Images" style="width:150px; height:100px">
                                    </td>
                                    <td>@Html.TextBoxFor(m => m.Name)</td>
                                    <td>
                                        <div class="form-group">
                                            @{
                                                var listdb = new WCF.BussinessController.BCL.MedicalBCL().Medical_GetAll();
                                                List<SelectListItem> lisSelectMedical = new List<SelectListItem>();
                                                foreach (var item in listdb)
                                                {
                                                    lisSelectMedical.Add(new SelectListItem()
                                                    {
                                                        Value = "" + item.ID,
                                                        Text = item.Name,
                                                    });
                                                }
                                            }

                                            @Html.DropDownListFor(m => m.IDKhoa, lisSelectMedical, new { @class = "form-control"})
                                        </div>
                                    </td>
                                    <td>
                                        <input type="submit" value="Xác Nhận" class="btn btn-info" />
                                        @Html.ActionLink("Cancel", "Cancelbt", "Doctor", null, new { @class = "btn btn-warning" })
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
                                                }