@model WCF.BussinessObject.EntityObject.MenuObject
@{
    ViewBag.Title = "EditMenuHeader";
    Layout = "~/Areas/admin/Views/Shared/LayOut.cshtml";
}

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Quản Trị Thanh Menu</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
                <div class="col-sm-12">
                    <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">

                        <thead>
                            <tr role="row">
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 205px;">@Html.DisplayNameFor(m => m.MenuItem1)</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 152px;">@Html.DisplayNameFor(m => m.MenuItem2)</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 110px;">@Html.DisplayNameFor(m => m.MenuItem3)</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 110px;">@Html.DisplayNameFor(m => m.MenuItem4)</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 110px;">@Html.DisplayNameFor(m => m.MenuItem5)</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 110px;">@Html.DisplayNameFor(m => m.MenuItem6)</th>
                                <th tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 110px;">Thao Tác</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr role="row" class="odd">

                                <td>@Model.MenuItem1</td>
                                <td>@Model.MenuItem2</td>
                                <td>@Model.MenuItem3</td>
                                <td>@Model.MenuItem4</td>
                                <td>@Model.MenuItem5</td>
                                <td>@Model.MenuItem6</td>

                                <td>
                                    @Html.ActionLink("Sửa", "EditMenu", "EditHeader", new { ID = Model.ID }, new { @class = "btn btn-info" })
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.box-body -->
</div>