@model WCF.BussinessObject.EntityObject.ServiceObject
<!DOCTYPE HTML>
<html>
<head>
    <link href="~/Content/templates/300-up-105/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=3.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="refresh" content="5400" />
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />

    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Cache-Control" content="no-cache" />

    <meta name="keywords" content="Phòng Khám Đa Khoa Thiên Hòa" />
    <meta name="description" content="Phòng Khám Đa Khoa Thiên Hòa" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow">
    <meta name="revisit-after" content="1 days" />
    <meta name="generator" content="Phòng Khám Đa Khoa Thiên Hòa" />
    <meta name="rating" content="General">

    <meta property="og:url" content="/">
    <meta property="og:description" content="Phòng Khám Đa Khoa Thiên Hòa">
    <meta property="og:title" content="Phòng Khám Đa Khoa Thiên Hòa">
    <meta property="og:image" content="datafiles/1/baiviet/14818824944091_logo.png">
    <meta property="og:site_name" content="demophongkham1.web30s.vn">
    <meta property="og:type" content="product" />
    <meta property="og:locale" content="vi_VN" />
    <meta itemprop="image" content="datafiles/1/baiviet/14818824944091_logo.png">

    <meta property="article:section" content="Phòng Khám Đa Khoa Thiên Hòa" />
    <meta property="article:tag" content="Phòng Khám Đa Khoa Thiên Hòa" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Phòng Khám Đa Khoa Thiên Hòa" />
    <meta name="twitter:description" content="Phòng Khám Đa Khoa Thiên Hòa" />
    <meta name="twitter:image" content="datafiles/1/baiviet/14818824944091_logo.png" />
    <meta name="twitter:url" content="/" />

    <title>Phòng Khám Đa Khoa Thiên Hòa</title>

    <link rel="shortcut icon" type="image/x-icon" href="~/Content/datafiles/1/baiviet/14818824944091_logo.png" />

    <script type="text/javascript" src="~/Content/js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="~/Content/js/divbox.js"></script>
    <script type="text/javascript" src="~/Content/js/me.js"></script>
    <script type='text/javascript' src='~/Content/js/jquery.easing.1.3.js'></script>
    <script type="text/javascript" src="~/Content/js/swfobject.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/Content/js/jquery.bxslider.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/Content/js/md5.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.mCustomScrollbar.concat.min.js"></script>

    <link href="~/Content/css/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link type="text/css" rel="stylesheet" href="~/Content/templates/300-up-105/css/style.css" />
    <link href="~/Content/css/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/global.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/divbox.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/bxslider.css" rel="stylesheet" type="text/css">
    <link href="~/Content/templates/300-up-105/css/animate.css" rel="stylesheet" media="screen">
    <script src="~/Content/templates/300-up-105/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Content/templates/300-up-105/js/jquery.nav.js" type="text/javascript"></script>
    <script src="~/Content/templates/300-up-105/js/custom.js" type="text/javascript"></script>
    <link rel='stylesheet' id='gfont-style-css' href='http://fonts.googleapis.com/css?family=Roboto%3A100%2C300%2C300italic%2C400%2C400italic%2C500%2C700%2C900%7CRoboto+Slab%3A300%2C400%2C700%7CArapey%3A400%2C400italic%7CLobster%7CCinzel%7CPoiret+One%3A400%7CJosefin+Sans%3A400%7CDomine%3A400&#038;ver=4.4.5' type='text/css' media='all' />
</head>
<body class="cbp-spmenu-push">
    <div class="head_top header_admin">
        <div class="bg_top">
            <script>
                function jsupdate(k, idclass, jscolor) {
                    if (k == 0) $("." + idclass).css("background-color", "#" + jscolor);
                    else if (k == 1) $("." + idclass).css("color", "#" + jscolor);
                }
            </script>
        </div>
    </div>
    <header class="header">
        <div class="container">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                        <a href="http://demophongkham1.web30s.vn" class="navbar-brand scroll-top logo  animated bounceInLeft"><img alt='Phòng Khám Đa Khoa Thiên Hòa' class='img_logo' src='@Model.LogoImage'></a>
                </div>
                @{Html.RenderAction("Headermenu", "Header");}
            </nav>
        </div>
    </header>
    <div id="#top">
    </div>
    <article>
        <section class="content gallery pad1" style='padding:0'>
            <div class="midle_main_idclass fix1200_cus1">
                @{Html.RenderAction("FitstPage", "Header");}
                <div class="clear"></div>
                <section id="services" class="page-section colord">
                    <div class="container">
                        <div class="heading text-center">
                            <h2> @Model.TittleDichVu</h2>
                            <p> @Model.DescriptionDichVu</p>
                        </div>
                        @{Html.RenderAction("BenhLyView", "BenhLy");}
                    </div>
                </section>
            </div>

            <section id="aboutUs">

                <div class="container">
                    <div class="heading text-center">
                        <!-- Heading -->
                        <h2> @Model.TittleGioiThieu</h2>
                        <p> @Model.DescriptionGioiThieu</p>
                    </div>
                    <div class="feature design">
                        <div class="six columns feature-media left">
                            <img src="@Model.Image" alt="TitlePhongKham">
                        </div>
                        <div class="six columns right">
                            <h3> @Model.TittlePhongKham</h3>
                            <div>
                                <p> @Model.DescriptionPhongKham</p>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </section>
        </section>
        <section id="work" class="page-section page">
            <div class="container text-center">
                <div class="heading">
                    <h2> @Model.TittleCoSoVatChat</h2>
                    <p> @Model.DescriptionCosoVatChat</p>
                    <!-- <a data="http://demodungcuthethao1.web30s.vn/" class="SHOW_popup" style="color: #fff">Click</a> -->
                </div>
                @{Html.RenderAction("EquipmentView", "Equipment");}
            </div>
        </section>
        <section id="team" class="page-section">
            <div class="container">
                <div class="heading text-center">
                    <h2> @Model.TittleChuyenKhoa</h2>
                    <p> @Model.DescriptionChuyenKhoa</p>
                </div>
                @{Html.RenderAction("Team", "TeamDoctor");}
            </div>
        </section>
        <section id="contactUs" class="contact-parlex" style="background-image: url('~/Content/datafiles/1/sub_banner/14819400566970_banner-bg-1.jpg');">
            <div class="parlex-back">
                <div class="container">
                    <div class="row">
                        <div class="heading text-center">
                            <h2> @Model.TittleLienHe</h2>
                            <p> @Model.DescriptionLienHe</p>
                        </div>
                    </div>
                    <div id="main">
                        @RenderBody()
                    </div>
                    <div class="row mrgn30 dv-footer">
                        <div class="col-sm-12 col-md-12">
                            <div id="showText">
                                <div class="showText">
                                    <h4>Địa chỉ:</h4>
                                    <p>@Model.Address</p>

                                    <h4>Số điện thoại: @Model.Phone</h4>
                                    <h4>Hotline:  @Model.HotLine</h4>
                                </div>
                                @{Html.RenderAction("LienHeView", "LienHe");}

                                <div class="map">
                                    <script src="//maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=AIzaSyAKUuXw8s42trJRIlpJkkc9204AfUxlhcI" type="text/javascript"></script>
                                    <script type="text/javascript">
                                        var toggleState = 1;
                                        function initialize() {
                                            if (GBrowserIsCompatible()) {
                                                var map = new GMap2(document.getElementById("map_canvas"));
                                                map.setCenter(new GLatLng(10.791633, 106.702628), 15);
                                                var bounds = map.getBounds();
                                                var point = new GLatLng(10.791633, 106.702628);
                                                map.addOverlay(new GMarker(point));
                                                map.setUIToDefault();
                                                map.openInfoWindowHtml(map.getCenter(), "<img src='~/Content/datafiles/1/baiviet/thumb_14818824944091_logo.png' width='100' align='left'><strong>Phòng Khám Đa Khoa Thiên Hòa</strong> <br> : 254A Nguyễn Đình Chiểu - Q3 - TpHCM <br> Phone: 1900 585 895 (24/7)<br> Email: admin@demophongkham1.vn");
                                            }
                                        }
                                    </script>

                                    <script>
                                        $(document).ready(function () {
                                            initialize();
                                        })
                                    </script>
                                    <div id='map_canvas' style='width:100%; height:500px; color:#000;'></div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="container">
                            <div class="social text-center">
                                <a href="https://twitter.com/wwwpavietnamcom" target="_blank"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.facebook.com/www.pavietnam.net" target="_blank"><i class="fa fa-facebook"></i></a>
                                <a href="https://plus.google.com/114627120430815730885/posts" target="_blank"><i class="fa fa-dribbble"></i></a>
                                <a href="https://plus.google.com/114627120430815730885/posts" target="_blank"><i class="fa fa-flickr"></i></a>
                                <a href="https://www.youtube.com/channel/UC2CD0jJ4HZLCZReyCyzwp0g" target="_blank"><i class="fa fa-github"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </article>

    <section class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center"><span class="footer_copyright"><a target="_blank" href="http://web.pavietnam.vn/" alt="Thiết Kế Website" title="Thiết Kế Website" class="a_copyright">Thiết Kế Website bởi P.A Việt Nam</a></span></div>
            </div>
        </div>
    </section>
    <a href="#top" class="topHome"><i class="fa fa-chevron-up fa-2x"></i></a>
    <div class="dv-popop">
        <div class="dv-popclick dong_pop"></div>
        <div class="popup-detal container">
            <div class="popup-detal-pos">
                <a class="dong_pop css_dong_pop">&nbsp;</a>
                <div class="popup-detal-cont">
                    <div class="ajax-content">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(".SHOW_popup").click(function () {
            $(".dv-popop").show();
            $(".ajax-content").html('<img src="~/Content/templates/300-up-105/images/loading.gif" class="img_loadding">');
            var href = $(this).attr("data");
            $.ajax({
                type: "POST",
                url: "/",
                data: { "href": "http://demophongkham1.web30s.vn" + href },
                success: function (response) {
                    console.log(response)
                    $(".ajax-content").html(response);
                }
            });
        });

        $(".dong_pop").click(function () {
            $(".dv-popop").hide();
        });

        $(".scroll-link").click(function () {
            var toggle = $(".navbar-toggle").is(":visible");
            if (toggle) {
                $(".navbar-collapse").collapse('hide');
            }
        })
    </script>
    <script type="text/javascript">
        $('a.lightbox').divbox();
    </script>
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;//vi_VN //en_US
            js.src = "~/Content/connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.7&appId=1568565433443656";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <style>
        #cfacebook {
            position: fixed;
            bottom: 0px;
            right: 8px;
            z-index: 999999999999999;
            width: 300px;
            height: auto;
            box-shadow: 6px 6px 6px 10px rgba(0,0,0,0.2);
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            overflow: hidden;
        }

            #cfacebook .fchat {
                float: left;
                width: 100%;
                height: 400px;
                overflow: hidden;
                display: none;
                background-color: #fff;
            }

                #cfacebook .fchat .chat-single {
                    float: left;
                    line-height: 25px;
                    line-height: 25px;
                    color: #333;
                    width: 100%;
                }

                    #cfacebook .fchat .chat-single a {
                        float: right;
                        text-decoration: none;
                        margin-right: 10px;
                        color: #888;
                        font-size: 12px;
                    }

                        #cfacebook .fchat .chat-single a:hover {
                            color: #222;
                        }

                #cfacebook .fchat .fb-page {
                    margin-top: 0px;
                    float: left;
                }

            #cfacebook a.chat_fb {
                float: left;
                padding: 0 25px;
                width: 300px;
                color: #fff;
                text-decoration: none;
                height: 40px;
                line-height: 40px;
                text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
                background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAqCAMAAABFoMFOAAAAWlBMV…8/UxBxQDQuFwlpqgBZBq6+P+unVY1GnDgwqbD2zGz5e1lBdwvGGPE6OgAAAABJRU5ErkJggg==);
                background-repeat: repeat-x;
                background-size: auto;
                background-position: 0 0;
                background-color: #0065BF;
                border: 0;
                border-bottom: 1px solid #0065BF;
                z-index: 9999999;
                margin-right: 12px;
                font-size: 18px;
            }

                #cfacebook a.chat_fb:hover {
                    color: yellow;
                    text-decoration: none;
                }

        .fchat_fb_showhi_hide {
            display: none !important;
        }

        .fchat_fb_showhi_show {
            display: block !important;
        }

        .cur {
            cursor: pointer;
        }
    </style>
    <script>
        function fchat() {
            var tchat = document.getElementById("tchat").value;
            if (tchat == 0 || tchat == '0') {
                document.getElementById("fchat").style.display = "block";
                document.getElementById("tchat").value = 1;
            } else {
                document.getElementById("fchat").style.display = "none";
                document.getElementById("tchat").value = 0;
            }
        }
        function SHOWHI_fb(argument) {
            if ($(".fchat_fb_showhi_show").length > 0) {
                console.log('1');
                $(".fchat_fb_showhi").removeClass("fchat_fb_showhi_show");
                $(".fchat_fb_showhi").addClass("fchat_fb_showhi_hide");
            }
            else {
                $(".fchat_fb_showhi").removeClass("fchat_fb_showhi_hide");
                $(".fchat_fb_showhi").addClass("fchat_fb_showhi_show");
                console.log('1')
            }
        }

        setTimeout(function () {
            $(".fchat_fb_showhi").addClass("fchat_fb_showhi_show");
        }, 15000);
    </script>
</body>
</html>